.logout {
    display: none;
}

#help {
    display: none;
}

#menu h1 {
    display: none !important;
}

#menu .logout input {
    display: none !important;
}

#menu {
    width:320px !important;
}

#lang {
    top: -29px; !important;
    left: -1px; !important;
    width:320px; !important;
}

#content {
    margin-left: 360px !important;
}

#breadcrumb {
    left:360px !important;
}
